*{
  margin:0;
  padding:0;
}

body {
  
}

header{
  width: 100%;
  height: auto;
}

.cantSelect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */   
}

.logo {
  float: left;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 17px;
  line-height: 1.2;
  font-weight: bold;
  display: inline-block;
  max-width: 27px;
  margin: 8px 10px;
  transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15 ease-in-out 0s;
}

.logo.short {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 0.9;
  font-size: 16px;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5 ease-in-out 0s;
}

.navbarbutton {
  display: none;
  float: right;
  background: #222;
  color: #ffffff;
  border: none;
  font-size: 18px;
  padding: 5px 10px;
  margin: 17px 15px 15px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

navbar {
  background: #efefef;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 100;
  opacity: 0.9;
  box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
  -moz-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
  -webkit-box-shadow: -2px -7px 47px 9px rgba(0,0,0,0.35);
}

navbar a {
  text-decoration: none;
  color: #282828;
  padding: 5px;
}

navbar ul{
  overflow: hidden;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: max-height: 0.5s;
  -webkit-transition: max-height: 0.5s;
  -moz-transition: max-height: 0.5s;
  -ms-transition: max-height: 0.5s;
  -o-transition: max-height: 0.5s;
}

navbar ul li {
  font-size: 20px;
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 21px;
  margin-bottom: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15s ease-in-out 0s;
}

navbar ul li.short {
  margin-top: 6px;
  margin-bottom: 6px;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5 ease-in-out 0s;
}

navbar ul li > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

navbar ul li > a:hover{
  color: #000;
}

navbar ul li > a:before {
  content:"";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: all 0.15s ease-in-out 0s;
  -webkit-transition: all 0.15s ease-in-out 0s;
}

navbar ul li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

/*END OF NAVBAR CODE */


.imgwrapper{
  overflow: hidden;
  height: auto;
  width: 100%;
  text-align: center;
  position: relative;
}

.titletext {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.titletext h1 {
   position: relative;
   font-size: 40px;
   color: #ffffff;
   text-decoration: underline;
   font-family: "IBM Plex Sans", sans-serif;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

#secondtitle {
   font-size: 30px;
  text-decoration: none;
}

#bigimg {
  height: auto;
  width: 100%;
  box-shadow: 0px 2px 6px #888888;
  margin-bottom: 6px;
  filter: brightness(70%);
  -ms-filter: brightness(70%);
}

#dalekimg {
  height: 700px;
  width: 100%;
  object-position: 0% 10%;
  object-fit: cover;
}


/* rows */ 
.rowWrapper {
  width: 90%;
  height: auto;
  background-color: #f9fcff;
  display: flex;
  flex-flow: row;
  align-items: center;
  overflow: hidden;
  box-shadow: 1px 1px 6px #888888, -1px -1px 6px #888888;
  margin: 0px auto 12px auto;
}

.rowWrapper div {
  flex: 1;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 28.125%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


.rowImg {
  width: auto;
  max-width: 600px;
  height: auto;
  max-height: 450px;
  display: inline-block;
  margin-top: -10px;
  filter: brightness(70%);
  -ms-filter: brightness(70%);
  z-index: 0;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
}

/*.rowImg:hover {
  filter: brightness(100%);
  -ms-filter: brightness(100%);
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
}*/

.innerRow {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 22px;
  padding: 15px;
  padding-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

#cursor {
  position: relative;
  display: inline-block;
  font-size: 80px;
}

.innerRow h1 {
  font-size: 40px;
  display: inline;
}

/*fancy buttons*/

.button {
  display: inline-block;
  border-radius: 2px;
  background-color: #5998ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover {
  box-shadow: 0 7px 7px #a5a5a5;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.button:hover span {
  padding-right: 20px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.link:link {
  color: #5b76ff;
  text-decoration: underline;
}

.link:visited {
  color: #5b76ff;
  text-decoration: underline;
}


/*slideshow*/


.slideshowWrapper {
  height: auto;
  background-color: #fafafa;
  align-items: center;
  overflow: hidden;
  box-shadow: 1px 1px 6px #888888, -1px -1px 6px #888888;
  margin: 0px auto 12px auto;
  width: 890px;
}

.slideshowWrapper h1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 32px;
  padding: 10px;
  text-align: center;
}

.slideshow {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: 2;
}

.inner-box{
  width: 100%;
  height: 650px;
}
  
.inner-box li{
    padding: 0px 5px;
  }

.slides {
  position:absolute;
  top:0;
  width: 100%;
  height: 100%;
  z-index:-1;
}

.slides img {
  width: auto;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.slide {
  top: 0;
  position: absolute;
  width: 100%;
}

.slide p {
  bottom: 0;
  display: block;
  padding-left: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  color: black;
  width: auto;
  padding: 10px;
  position: absolute;
  background-color: rgba(242, 242, 242, 0.8);
}

.slide-arrows{
  position:relative;
  width:100%;
  z-index:3;
  height: 100%;
}
  
.next::-moz-selection { background:transparent; }
.next::selection { background:transparent; }
.prev::-moz-selection { background:transparent; }
.prev::selection { background:transparent; }

.next {
  position:absolute;
  right:0;
  padding: 10px 10px 10px 5px;
  border-radius: 5px 0px 0px 5px;
}

.prev {
  position: absolute;
  padding: 10px 5px 10px 10px;
  border-radius: 0px 5px 5px 0px;
}

.prev,.next{
  cursor:pointer;
  transition:all 0.1s;
  background-color: black;
  opacity: 0.3;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.prev:active, .next:active {
  opacity: 0.5;
}


.thumbs {
  text-align: center;
  border: 0px;
  transition: border 0.2s;
  margin: 10px;
}

.thumbs img{
  /*width: 75px;*/
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer;
  height: 55px;
  margin-bottom: 10px;
  margin-right: 13px;
  transition: all 0.07s;
  filter: brightness(1.00);
}

.thumbs:last-child{
  margin-right: 0px;
}

.t-active {
  border: 4px solid #595959;
  transition: border 0.05s;
}

.thumbs img:hover {
  filter: brightness(0.8);
  transition: all 0.07s;
}

.thumbs img:active {
  filter: brightness(0.5);
  transition: all 0.07s;
}

.controls {
  display: inline;
  list-style-type: none; 
  text-align: center;
  padding: 10px;
  margin-bottom: -10px;
}

.icon {
  margin-left: 12px;
  width: 16px;
  cursor: pointer;
}

.circle {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius:100%;
  margin-right: 7px;
  margin-left: 7px;
  box-sizing:border-box;
  -webkit-user-select:none;
  cursor: pointer;
}


.full {
    border: 8px solid black;
    transition:all 0.3s;
    -webkit-transition: all 0.3s;
}

.listtitle {
  text-align: left;
  text-decoration: underline;
  padding-left: 30px;
  padding-top: 25px;
  font-size: 26px;
}

.list {
  text-align: left;
  padding-left: 30px;
}

.list li {
  margin: 10px 0;
}

#overviewtext2 {
  margin-top: 20px;
  float: left;
}







/*mobile responsiveness */
@media screen and (max-width: 1055px) {

  .logo {
    margin-top: 16px;
    font-size: 20px;
    max-width: 230px;
  }
  
  .responsivepart {
    float: none;
  }
  
  .navbarbutton {
    display: block;
  }
  
  navbar {
    opacity: .95;
  }
  
  navbar ul {
    background: #ffffff;
    max-height: 0;
    width: 100%;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    
  }
  
  navbar ul.show {
    max-height: 25em;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
  }
  
  navbar ul li {
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  /* END OF RESPONSIVE NAVBAR */
}


@media screen and (max-width: 890px) {


    #imgRight{order:1;}
    #textLeft{order:2;}

    .titletext h1 {
   font-size: 32px;
   text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
   }

  #secondtitle {
   font-size: 22px;
  }

  .rowWrapper {
    flex-flow: column;
    max-width: 97%;
  }

  .rowWrapper img {
    max-width: 350px;
    margin-top: 10px;
  }

  .innerRow {
    font-size: 16px;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .rowWrapper h1 {
    font-size: 30px;
  }

  .rowImg {
    filter: brightness(80%);
    -ms-filter: brightness(80%);
  }

  .rowImg:hover {
    filter: brightness(80%);
    -ms-filter: brightness(80%);
  }

  .button {
    padding: 8px;
    font-size: 16px;
    width: 180px;
  }

  .button:hover {
  box-shadow: 0px 0px 0px 0px;
  } 

  .button span {
  padding-right: 20px;
  }

  .button span:after {
  opacity: 1;
  right: 0;
  }

  .rowWrapper {
    width: 98%;
  }

  .video-container {
    padding-bottom: 56.25%;
  }

  #demovideo {
    min-width: 340px;
    width: 94%;
    height: 250px;
    padding-bottom: 30px;
  }

  /*slideshow*/

  .slideshowWrapper {
    width: 97%;
  }

  .controls {
    width: 100%;
  }

  .inner-box {
    display: inline-block;
    height:380px;
  }

  .slides img {
    max-width: 320px;
    height: 245px;
  }

  .thumbs img {
    width: 55px;
    vertical-align: middle;
    margin-right: 7px;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    margin-bottom: 10px;
  }

  .thumbs img:hover {
    opacity: 1;
  }

  .slide p {
    padding-left: 10px;
    font-size: 18px;
    font-family: "IBM Plex Sans", sans-serif;
    padding: 5px;
    position: relative;
    background: none;
    display: inline-block;
    box-sizing: border-box;
  }

  .prev:active, .next:active {
    opacity: .2;
  }

  .prev, .next {
    transform: scale(0.8, 0.8);
    top: 28%;
  }

  .prev {
    margin-left: -10px;
  }

  .next {
    margin-right: -10px;
  }

}

@media screen and (max-width: 540px) {
#bigimg {
    display: block;
    max-height: 400px;
    width: auto;
    box-shadow: 0px 2px 6px #888888;
    margin-bottom: 6px;
    transform: translateX(-30%);
    }
}